@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

thead th,
tbody th{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

.menu{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

blockquote{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0;
color:#000;
font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

.chat_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 10px;
	width: 600px;
}
#chat_main_inner {
	min-height: 250px;
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.auth_main {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	margin: 10px;
	width: 600px;
	display: none;
}
.sendchat_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 5px;
	float: left;
	clear: left;
	display: none;
}
#sendchat_main_inner {
	min-height: 250px;
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.moderate_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 5px;
	width: 285px;
	float: left;
	clear: right;
	display: none;
}
#moderate_main_inner {
	min-height: 250px;
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.contact_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 5px;
	width: 580px;
	float: left;
	clear: both;
	display: none;
}
#contact_main_inner {
	min-height: 250px;
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.inline {
	display: inline-block;
}
.block {
	display: block;
}
.block-fullwidth {
	width: 100%;
}
.none {
	display: none;
}
.col-gray {
	background-color: #AAAAAA;
}
button, a.btn, a.btn:visited, a.button, a.button:visited, input[type="submit"], input[type="reset"], input[type="button"] {
	vertical-align: top;
}
textarea {
	height: auto;
}
li.head_li {
	background-color: #DDDDDD;
	color: #000000;
	padding: 2px;
	margin: 0px;
	list-style: none;
}
li.sub_li {
	clear: none;
	margin: 2px;
	padding: 2px;
	border: 1px dashed #DDDDDD;
	float: left;
	height: auto;
}
li.sub_li img {
	width: 20px;
	height: 20px;
}
ul.chat {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
table.striped{}
table.striped tr.alt{background:#f5f5f5;}
table.striped thead th{background:#DDDDDD;}
table.striped tbody th{background:#f5f5f5;text-align:right;padding-right:15px;border-right:1px dotted #e5e5e5;}
table.striped tbody tr.alt th{background:#efefef;}
table.striped td {
	padding: 4px;
	vertical-align: top;
}
