.chat_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 10px;
	width: 600px;
	clear: left;
}
#chat_main_inner {
	min-height: 250px;
	max-height: 250px;
}
.contact_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 10px;
	width: 200px;
	clear: right;
}
#contact_main_inner {
	min-height: 250px;
	max-height: 250px;
}