/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

thead th,
tbody th{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

.menu{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

blockquote{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0;
color:#000;
background:#efefef url(/img/grid.png) repeat center top;
font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#header{
	width:960px;/*960*/
	background:#fff;
	margin:30px auto 30px auto;
	padding:0;
	border:1px solid #ccc;
}
#wrap{
width:960px;/*960*/
background:#fff;
margin:30px auto 30px auto;
padding:0;
border:1px solid #ccc;
}

.menu{
margin:-1px -1px 0 -1px;
}


#footer{
text-align:center;
padding:20px;
margin:0;
background:#efefef;
border-top:1px solid #ccc;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
}

#link-top{
	position: absolute;
	top:10px;
	right:10px;
	*right:25px;/*IE 7 ONLY*/
	left:auto;
	color:#666;
	text-decoration:none;
	display: inline-block;
	padding:5px 10px;
	background:#e5e5e5;
	line-height:100%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.sidebar_wrap {
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
	border: 1px solid #CCCCCC;
}
.sidebar_head {
	border-bottom: 1px solid #CCCCCC;
}
.sidebar_head h5 {
	margin: 5px;
	color: #777777;
	text-shadow: 0 1px 1px #FFFFFF;
}
.sidebar_body {
	background-color: #FFFFFF;
	padding: 10px;
}
.zerom {
	margin: 0px;
}
.zerop {
	padding: 0px;
}
.chat_main {
	min-height: 250px;
	max-height: 250px;
	width: 600px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
}
.elements ul {
	padding: 0px;
	margin: 0px;
}
.elements li {
	padding: 0px;
	margin: 0px;
	display: block;
	clear: both;
}
.elements hr {
	margin: 5px;
}
li.window_block {
	
}
li.contact_element {
	font-size: 12px;
	font-weight: normal;
	background-color: #DDDDDD;
	border: 1px solid #888888;
	padding: 2px;
	margin: 5px;
	line-height: 0.5em;
}
li.contact_element img {
	height: 20px;
	width: 20px;
}
