.chat_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 10px;
	width: 600px;
}
#chat_main_inner {
	min-height: 250px;
	max-height: 250px;
}
.auth_main {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	margin: 10px;
	width: 600px;
}
.sendchat_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 10px;
	width: 280px;
	display: inline-block;
	margin: 10px;
}
#sendchat_main_inner {
	min-height: 250px;
	max-height: 250px;
}
.contact_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 10px;
	width: 280px;
	display: inline-block;
	margin: 10px;
}
#contact_main_inner {
	min-height: 250px;
	max-height: 250px;
}