.chat_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 10px;
	width: 600px;
}
#chat_main_inner {
	min-height: 250px;
	max-height: 250px;
}
.auth_main {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	margin: 10px;
	width: 600px;
	min-height: 260px;
	max-height: 260px;
}
div.sendchat_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 5px;
	width: 285px;
	float: left;
}
#sendchat_main_inner {
	min-height: 250px;
	max-height: 250px;
}
div.contact_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 5px;
	width: 285px;
	float: right;
}
#contact_main_inner {
	min-height: 250px;
	max-height: 250px;
}
.inline {
	display: inline-block;
}
.block {
	display: block;
}
.none {
	display: none;
}
