.chat_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 10px;
	width: 600px;
}
#chat_main_inner {
	min-height: 250px;
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.auth_main {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	margin: 10px;
	width: 600px;
	min-height: 260px;
	max-height: 260px;
}
.sendchat_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 5px;
	width: 285px;
	float: left;
}
#sendchat_main_inner {
	min-height: 250px;
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.contact_main {
	background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	margin: 5px;
	width: 285px;
	float: right;
}
#contact_main_inner {
	min-height: 250px;
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.inline {
	display: inline-block;
}
.block {
	display: block;
}
.none {
	display: none;
}
.col-gray {
	background-color: #AAAAAA;
}
button, a.btn, a.btn:visited, a.button, a.button:visited, input[type="submit"], input[type="reset"], input[type="button"] {
	vertical-align: top;
}
textarea {
	height: auto;
}
table.striped{}
table.striped tr.alt{background:#f5f5f5;}
table.striped thead th{background:#DDDDDD;}
table.striped tbody th{background:#f5f5f5;text-align:right;padding-right:15px;border-right:1px dotted #e5e5e5;}
table.striped tbody tr.alt th{background:#efefef;}